.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46 !important;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.bu{
  color:purple ;
  background-color: #4CAF50;
  font-family: cursive;
  text-align: center !important; 
  margin-left: 44.5%;
  margin-top: 5%;
  padding: 2%;
  font-size:  30px;
  border-radius: 70%;
  border: 7px solid rgb(26, 36, 27);
}
.bu:hover{
  border-radius:0%;
  color: royalblue;
  background-color: rgba(255, 217, 0, 0.589);
}
.text
{
    color: #F24236;
    display: block;
    
     text-transform: uppercase;
    font-size: 50px;
    
    font-family: verdana;
    
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191,1px 3px 1px #919191,1px 4px 1px #919191,1px 5px 1px #919191,1px 6px 1px #919191,1px 7px 1px #919191,1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,1px 18px 6px rgba(16,16,16,0.4),1px 22px 10px rgba(16,16,16,0.2),1px 25px 35px rgba(16,16,16,0.2),1px 30px 60px rgba(16,16,16,0.4);
}

